@page
@model LastFmStatsServer.Pages.IndexModel
@{
}
<h1>Last.fm stats</h1>
<ul>
    <li><a href="Graph">Display stats for a user...</a></li>
    <li><a href="Refresh">Update stats for a user...</a></li>
</ul>

<span>
    Tool created by Melvyn Laïly (<a href="https://zerowidthjoiner.net">zerowidthjoiner.net</a>)
</span>