@page
@model LastFmStatsServer.Pages.RefreshModel
@section Styles {
    <style>
        .log {
            margin: 2px;
            font-family: Courier, Courier New, sans-serif;
            font-size: .8em;
        }
    </style>
}
@section Scripts {
    <script src="js/fable/RefreshPage.js" type="module"></script>
}
<p>
    <a asp-page="Index">Go back to index.</a>
</p>
<label for="userName">Last.fm user name:</label>
<input id="userName" name="userName" type="text" value="@Model.UserName" />
<button id="query-button">Start querying data...</button>
<p id="output"></p>
